<div>
  <h3>Dashboard</h3>
  <ul>
    <li>
      <a href="{{ asr.makePath('app.formValidation') }}">
        Form Validation
      </a>
    </li>
    <li>
      <a href="{{ asr.makePath('app.sortable') }}">
        Sortable
      </a>
    </li>
    <li>
      <a href="{{ asr.makePath('app.datePicker') }}">
        Date Picker
      </a>
    </li>
  </ul>

  <p>
    <a href="{{ asr.makePath('app.dashboard.child') }}">
      Load my child component
    </a>
  </p>

  <uiView></uiView>
</div>

<script>
  export default {};
</script>
